@mixin blockFlex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin inputStyle {
  color: #2c3345;
  padding: 10px;
  border-radius: 4px;
  border: $borderStyle;
  width: 200px;
  &:focus {
    border-color: #2e69ff !important;
    outline: #2e69ff !important;
    box-shadow: 0 0 0 3px #c9d8fe;
  }
}

@mixin inputBlock {
  bottom: 50px;
  @include blockFlex();
  label {
    color: $nameCol;
    p {
      margin-bottom: 5px;
      span {
        color: $errorCol;
        display: inline;
      }
    }
  }
  input {
    @include inputStyle();
  }
}

@mixin iconError {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #f79483;
  display: inline;
}
